{{ partial "header" . }} 
<main>
  <div class="list-header">
    <h1 class="list-title">Topics</h1>
    <p class="list-description"><strong>Topics</strong> provide a list of specific resources for learning about a singular topic.</p>
    <form method="get" action="https://www.google.com/search">
      <input type="hidden" name="q" value="site:learningfrontend.rocks" />
      <input type="text" name="q" />
      <input type="submit" value="Search" />
    </form>

  </div>
  <ul class="topics">
    {{ range .Data.Pages }}
    <li class="topic">
      <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
      <p>{{ .Summary }}</p>
    </li>
    {{ end }}
  </ul>
</main>
{{ partial "footer" . }} 
